*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:
-apple-system,
BlinkMacSystemFont,
sans-serif;

overflow-x:hidden;
overflow-y:auto;

color:white;

background:
linear-gradient(
rgba(0,0,0,0.25),
rgba(0,0,0,0.55)
),

url("https://images.unsplash.com/photo-1522383225653-ed111181a951")
center/cover no-repeat fixed;

min-height:100vh;
}

/* OVERLAY */

.overlay{

position:fixed;

width:100%;
height:100%;

backdrop-filter:blur(2px);

z-index:-1;
}

/* LOADER */

#loader{

position:fixed;

width:100%;
height:100vh;

background:black;

display:flex;
justify-content:center;
align-items:center;

z-index:9999;

animation:fadeOut 2s ease forwards;

animation-delay:2.5s;
}

#loader h1{

font-size:42px;

color:#ffd9ee;

animation:pulse 2s infinite;
}

@keyframes pulse{

50%{
opacity:0.5;
}

}

@keyframes fadeOut{

to{
opacity:0;
visibility:hidden;
}

}

/* HERO */

.hero{

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:40px 20px;
}

/* GLASS CARD */

.card{

width:90%;
max-width:750px;

padding:60px;

border-radius:35px;

background:
rgba(255,255,255,0.12);

backdrop-filter:blur(18px);

border:
1px solid rgba(255,255,255,0.18);

box-shadow:
0 8px 35px rgba(0,0,0,0.35);

text-align:center;

animation:fadeUp 2s ease;
}

/* TITLE */

h1{

font-size:64px;

color:#ffe1f0;

text-shadow:
0 0 25px rgba(255,255,255,0.35);
}

/* TEXT */

.typing{

margin-top:25px;

font-size:22px;

line-height:1.8;

color:#fff5fa;
}

/* BUTTON */

button{

margin-top:40px;

padding:16px 40px;

border:none;

border-radius:50px;

background:
linear-gradient(
to right,
#ff9ecf,
#ff6fb5
);

color:white;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:0.4s;
}

button:hover{

transform:
scale(1.08);

box-shadow:
0 0 25px rgba(255,255,255,0.4);
}

/* LETTER */

#letter{

display:none;

margin-top:40px;

font-size:22px;

line-height:2;

color:#fff0f7;

animation:fadeUp 1.5s ease;
}

/* CURSOR */

.cursor{

position:fixed;

width:25px;
height:25px;

border-radius:50%;

background:
rgba(255,192,203,0.5);

pointer-events:none;

transform:
translate(-50%,-50%);

filter:blur(8px);

z-index:999;
}

/* SAKURA */

.sakura{

position:fixed;

top:-10px;

font-size:20px;

pointer-events:none;

animation:fall linear forwards;
}

@keyframes fall{

0%{

transform:
translateX(0)
translateY(0)
rotate(0deg);

}

100%{

transform:
translateX(120px)
translateY(110vh)
rotate(360deg);

opacity:0;
}

}

/* ANIMATION */

@keyframes fadeUp{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}

/* MOBILE */

@media(max-width:768px){

h1{
font-size:42px;
}

.typing{
font-size:18px;
}

#letter{
font-size:18px;
}

.card{
padding:40px 25px;
}

}
